* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: aquamarine;
    font-size: 2rem;
}

@keyframes animText {
    from  {
        filter: blur(0);
    }
    to {
        filter: blur(5px);
    }
}